
.icon-volume-off:before { content: '\e800'; } /* '' */
.icon-volume-up:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */